h1 {
  text-align: center;
  font-size: 100px;
  color: #20B2AA;
  font-family: monospace;
}

h3 {
  font-size: 50px;
}

li {
  color: #FF00FF;
  font-size: 20px;
}

strong {
  color: #FF0000;
}

p {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1.dog {
  text-shadow: 2px -2px red;
}

.greg {
  font-family: fantasy;
}

.darkMode {
  background-color: #00123F;
  color: darksalmon;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.lightMode {
  display: none;
  background-color: #Fa923f;
  color: #000;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.lightBackground {
  background-color: white;
  color: black;
}

.darkBackground {
  background-color: black;
  color: darksalmon;
}

.darkMode:hover, .lightMode:hover {
  cursor: pointer;
}
